.article-block {
  width: 30%;
  height: 20em;
  background: linear-gradient (blue, transparent);
  padding: 1em;
  margin: 1.5em;
  float: left;
  color: white;
  &:hover {
    background: blue;
  }
  .date {
    float: right;
  }
  .date,
  .category {
    margin: 0;
  }
  h1 {
    margin: 0;
    font-size: 1.5em;
  }
  img {
    z-index: -10;
    max-width: none;
  }
}
