.main-nav {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  h2 {
    @include visuallyhidden;
  }
  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    @include clearfix;
  }
  li {
    float: left;
    margin: 1em;
    padding-right: 0.25em;
    padding-left: 0.25em;
    border: 1px solid transparent;
  }
  a {
    color: $black;
    text-decoration: none;
    padding: 0.5em 0.25em;
    display: inline-block;
  }
  a: hover {
    text-decoration: underline;
  }
  &.block-large {
    width: 200%;
  }
  &.block-medium {
    width: 100%;
  }
  &.block-small {
    width: 80%
  }
}
