html {
  box-sizing:border-box;
}
h2 {
  font-family: monospace, sans-serif;
  color: black;
}
.Blog-Title {
  max width: 12em;
  color: #23cdfd;
  line-height: 1.2;
  font-size: 1.9em;
}
.css-modules {
  margin-bottom: 6em;
  padding: 0.25em 0.5em;
}
.sample-image {
  border: 1px solid $black;
  display: block;
}
/Users/mollyhennessy/Documents/github/mcad-sdblog/mcad-sdblog/styles/_article-block.scss
